body {
    background-color: pink;
    margin: 0;
    font-family: Arial, sans-serif;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    margin-right: 10px;
}